
\.idea/

Examples/ExampleWebService/audit\.log

*.iml

Examples/ExampleWebService/target/

Firebase/target/

Sql2oRepository/target/

SwaggerUI/target/

CoreService/target/

Examples/ExampleClient/target/

JPARepository/target/

Examples/ExampleDatabase/target/
